.section__bgr {
  background-image: url("../Assets/Images/iceland.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 85vh;
}

.img--two {
  background-image: url("../Assets/Images/hawaii.jpg");
}

.img--three {
  background-image: url("../Assets/Images/greece.jpg");
}

.section__heading {
  color: #fff;
  font-size: 3.75rem;
  padding-top: 40px;
  padding-left: 40px;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

.card__container {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  width: 100%;
}

.card {
  background-color: #fff;
  width: 17.188rem;
  height: 25rem;
  border: none;
  border-radius: 5px;
  margin: 0px 20px;
}

.card-heading {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  border-bottom: 1px solid black;
  font-size: 1.25rem;
  margin: 10px 10px;
}

.card-list {
  margin: 0 auto;
  padding: 0;
}

.card-list li {
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  margin-top: 40px;
  font-size: 1.125rem;
}
