* {
  font-size: 16px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 1rem;
}

h2 {
  color: #335576;
  font-size: 1.625rem;
}

h6 {
  font-size: 0.75rem;
  font-weight: 100;
  text-transform: uppercase;
  color: #db7a4e;
}
p {
  font-size: 1rem;
  color: #335576;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav__header {
  display: inline-flex;
  width: 100%;
  color: inherit;
}

.nav__header--title {
  font-size: 1.25rem;
}

.nav__menu {
  display: inline-flex;
  justify-content: flex-end;
  list-style: none;
  padding-right: 40px;
}

.nav__menu a {
  text-decoration: none;
  color: #335576;
}

.nav__menu--current {
  border-bottom: 2px solid #db7a4e;
}

.nav__menu--current:hover {
  border: none;
}

.link {
  text-decoration: none;
  margin-right: 20px;
  padding-bottom: 8px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #fefaf5;
  padding-top: 20px;
}

.break {
  display: flex;
  justify-content: space-around;
}

.break-again {
  padding-right: 40px;
}

.icon {
  display: inline-block;
  height: 2.5rem;
  margin-top: 40px;
  margin-right: 20px;
}

.icon:hover {
  height: 3.125rem;
}

.spacing__one {
  padding-bottom: 24px;
}

.spacing__two {
  padding-bottom: 16px;
}
